* {
	box-sizing: border-box;
}
body,html {
	height: 100%;
	background: black;
	font-family: 'Poppins' !important;
	color: #f8f9fa; /*LIGHT*/
}

p {
	font-family: 'Open Sans' !important;
}
/*
DARK: 	#343a40
LIGH: 	#f8f9fa
ACCENT:	#FCB900 U GOLD
ACCENT2:#301504 U BROWN 
*/

/* width */
::-webkit-scrollbar {
    height: 1px;
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #301504;   /*UPS BROWN*/
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #FCB900; /*UPS GOLD*/
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: moccasin; /*TERTIARY ACCENT*/
}
.viewport {
	height: 100%;
	
}

/*For padding between section*/
.viewport33 {
	height: 33%;
}

.hero {
	
}
.hero-tittle>h1 {
	font-weight: 800 !important;
}
.title {
	font-family: 'Kaushan Script' !important;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.store-container,.project-container{
	overflow-x: auto;
	white-space: nowrap;

	display: flex;
	flex-direction: row;
	align-items: center;
}

.store-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 5px;
}

.store-item-img {
	margin: 10px;
}



.project-item {
	display: flex;
	flex-direction: column;
	align-items: start;
	padding: 10px;
}

.mbtn-container {

}

.mbtn {
	background: #FCB900; /*UPS GOLD*/
	border-radius: 0px;
	border: 1px;
	color:#343a40 !important; /*DARK*/
}
a.mbtn:hover {
	background: #ffffff00; /*TRANSPARENT*/
	border-radius: 0px;
	border: 1px solid #FCB900;
	color: #f8f9fa !important; /*LIGHT*/
}

.contact-link>a {
	color: #f8f9fa !important; /*LIGHT*/
}



